{% extends "index.html" %}

{% block body %}
    <div class="row align-items-center">
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <img
                src="{{ url_for('static', filename='images') }}/error.png" alt=""
                class="img-fluid">
        </div>
        <div class="col-12 col-md-6 text-center">
            <p class="p-error-status">
                <strong>{{ status }}</strong>
            </p>
            <p class="fs-4">
                <strong>{{ label }}</strong>
            </p>
        </div>
    </div>
{% endblock %}